spring:
  application:
    name: kabal-json-to-pdf
  main:
    banner-mode: OFF
  lifecycle:
    timeout-per-shutdown-phase: 20s
  servlet:
    multipart:
      #  Size limitations are also handled by app itself to get nice fault messages, but this setting seems to fail faster?
      max-request-size: 8MB
      max-file-size: 8MB
  codec:
    max-in-memory-size: 16MB
  web:
    error:
      whitelabel:
        enabled: false

server:
  port: 7093
  shutdown: graceful

management:
  endpoint:
    health:
      show-details: always
  endpoints.web:
    exposure:
      include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics:
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true